<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css' })%>

<div class="settings-container">
    <h1>Are you sure you want to delete your account?</h1>
    <div class="settings-options">
        <a href="/logout">Logout</a>
        <a href="/settings/DeleteMyAccount" title="Delete Account" alt="Delete Account">Delete Account</a>
    </div>
    <div class="DeletePage">
        <div class="DeleteOption">
            <h4>Yes I'm sure</h4> 
            <form method="POST" action="/settings/delete?_method=DELETE">
                <input id='submit' type="submit" value="Delete My Account" title="Delete My Account" alt="Delete My Account">
            </form> 
            <br>
            <h4>I changed my mind</h4> 
            <a href="/settings" id="submit">Go back</a>
        </div>
    </div>
</div>

<%-include('../partials/footer.ejs') %>