<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css' })%>

<div class="settings-container">
    <h1>Settings</h1>
    <div class="settings-options">
        <a href="/logout">Logout</a>
        <a href="/settings/DeleteMyAccount" title="Delete Account" alt="Delete Account">Delete Account</a>
    </div>
</div>
<%-include('../partials/footer.ejs') %>