<footer style="background-color: black;">
    <div class="line">
        <hr>
    </div>
    <p> @JevMedia || Founded by Joshua Pent, Leonardo Rodriguez, David
        Velasquez </p>
</footer>
</body>

</html>