<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= styleSheet %>">
    <title>Jev Media</title>
</head>
<body>
    
    <nav>
        <img src="https://files.slack.com/files-tmb/T0351JZQ0-F04TFKGM38S-b98ac9a300/screenshot_2023-03-10_at_4.54.22_pm-removebg-preview_360.png" alt="">
    </nav>

