<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css' })%>
    <div class="feed-background">

        <div class="feed-container">
            <h1>Explore</h1>
            <% for(let i=0; i < post.length; i++) { %>
                <div class="border-line">
                    <div class="image-container">
                        <a href="/visit/post/<%=post[i]._id%>">
                            <img src="<%=post[i].img%>" alt="feed post">
                        </a>
                       
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script>
        const likeButton = document.getElementById('like-button');
        const dislikeButton = document.getElementById('dislike-button')
        let likeCounting = document.getElementById('like-counter')
        let dislikeCounting = document.getElementById('dislike-counter')
        likeButton.addEventListener('click', likeCounter)
        function likeCounter() {
            let likeCount = likeCounting.innerHTML
            likeCount++;
            likeCounting.innerHTML = likeCount
            console.log(likeCount)
        }
        dislikeButton.addEventListener('click', dislikeCounter)
        function dislikeCounter() {
            let dislikeCount = dislikeCounting.innerHTML
            dislikeCount++;
            dislikeCounting.innerHTML = dislikeCount
        }
    </script>




    <%-include('../partials/footer.ejs') %>