<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css'})%>





<div class="profile-container">

    <div class="profile-navbar">
        <div class="profile-image">
            <img src="https://toppng.com/uploads/thumbnail/yoda-silhouette-11562913728qpwtuuynq1.png" alt="">
        </div>
        <div class="profile-bio">
            <h5>Username</h5>
            <h5>Bio</h5>
        </div>
        <div class="follow-DM">
            <button>
                <a href="">Follow</a>
            </button>
            <button>
                <a href="">Message</a>
            </button>
        </div>
        
    </div>

        <div class="line"><hr></div>
    
    <div class="profile-posts">
        <div class="post-history">
            <img src="https://images.unsplash.com/photo-1678063412571-c09ec5f4a5cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1674883305553-3d219406804b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191092856-96d8d9304f86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1678191093837-712939f1aea7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
    </div>

</div>


<%-include('../partials/footer.ejs') %>