<%- include('./loginPartials/header.ejs') %>

<div class="center">
    <div class="login-container">
    <div class="left">
        <img src='https://i.imgur.com/hR6MKrO.png' alt="Jev Logo">
    </div>
    <div class="right">
        <form method="POST" action="/loginRoute" class="login">
            <div class="email">
                <label for="email">Email:</label>
               <input type="text" name="email" id="email">
            </div>
            <div class="password">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <input class="login-links" type="submit" name="submit" id="submit" value="Login!">
        </form>
        <div class="forgot">
            <button>
                <a class="login-links" href="/forgotpassword">Forgot password?</a>
            </button>
        </div>
            <div class="register">
                <button>
                    <a class="login-links" href="/register">Register!</a>
                </button>
            </div>
        </div>
    </div>
</div>


<%-include('../partials/footer.ejs') %>





