<%- include('./loginPartials/header.ejs') %>

<div class="center">
    <div class="registerbox">
        <h3>Sign-up</h3>
        <form method="POST" action="/registerRoute" class="register">
            <div class="email">
                <!-- <label for="email">Email:</label> -->
               <input type="text" name="email" id="email" placeholder="E-mail" autocomplete="off">
            </div>
            <div class="name">
                <!-- <label for="email">Full name:</label> -->
               <input type="text" name="name" id="name" placeholder="Name" autocomplete="off" autocomplete="off">
            </div>
            <div class="DOB">
                <!-- <label for="DOB">Date of Birth:</label> -->
               <input type="text" name="DOB" id="DOB" placeholder="Date of Birth" onfocus="(this.type='date')" autocomplete="off">
            </div>
            <div class="password">
                <!-- <label for="password">Password:</label> -->
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="password">
                <!-- <label for="confirmPassword">Confirm Password:</label> -->
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" autocomplete="off">
            </div>
            <div class="register-input">
            <input type="submit" name="submit" id="submit" value="Register!">
            </div>
        </form>
        <br>
        <a href="/">Go Back</a>
    </div>
</div>


<%-include('../partials/footer.ejs') %>
