body{
    margin: 0;
    padding:0;
    background-image: radial-gradient(#393E41, #03254E);
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat; */
     background-color:#03254E;
    /* #8D909B grey, for outer margin, #03254E darkblue*/
    height:90vh;
    z-index: 0;
    color:white;
}

.login-container{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
   gap:10em;
}

.center{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 90vh;
 
}

.right{
    display:flex;
    flex-direction: column;
    border-left: solid black 1px;
    justify-content: space-evenly;
    gap:5px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #03254EF3;
    /* background-image: radial-gradient(#393E41, #03254E); */
    /* background-color: #393E41; */
    padding:2em;
    position: fixed;
    top:0;
    width: 100%;
    margin: 0 0 5em 0
}
.nav-left{
margin: 0 5em;
}
.nav-right{
    margin: 0 4em;
}

.nav-right a{
    text-decoration: none;
    color: black;
    margin:1em;
    font-size: 2em;
}

.nav-right a:hover{
    text-decoration: underline;
}

nav img{
    height:4em;
}

.profile-container{
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    margin: 5em 4em 3em 4em;
    background-color: #8D909B;
    z-index: 1;
}

.profile-navbar{
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding:1em;
    margin:-1em;
    
}

.line{
display: flex;
    justify-content: center;
    align-items: center;
}

.line hr{
    width: 75em;;
    border: 0.5px solid black;
}



.profile-image img{
    height:5em;
    border-radius: 3em;
    border: solid black 1px;
   
}

.profile-posts{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2em 5.5em;
}

.post-history{
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
}

.post-history img {
    height: 20em;
    width: 20em;
    margin: 0 15px 15px 0;
}



footer{
    height: 5vh;
    text-align: center;
    font-weight: 700;
}
.profile-bio {
    color:antiquewhite;
}
