body{
    margin: 0;
    padding:0;
    background-color: antiquewhite;
    height:90vh;
       
}

.login-container{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
   gap:10em;
}

.center{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 90vh;
 
}

.right{
    display:flex;
    flex-direction: column;
    border-left: solid black 1px;
    justify-content: space-evenly;
    gap:5px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color:rgba(43, 105, 177, 0.408);
    padding:2em;
}
.nav-left{
margin: 0 5em;
}
.nav-right{
    margin: 0 4em;
}

.nav-right a{
    text-decoration: none;
    color: black;
    margin:1em;
    font-size: 2em;
}

.nav-right a:hover{
    text-decoration: underline;
}

nav img{
    height:4em;
}

.profile-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.profile-navbar{
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding:1.5em;
    
}

.line{
display: flex;
    justify-content: center;
    align-items: center;
}

.line hr{
   
    width: 100em;;
    border: 1px solid black;
}



.profile-image img{
    height:5em;
    border-radius: 3em;
    border: solid black 1px;
   
}

.profile-posts{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2em 5.5em;
}

.post-history{
    display: flex;
    
    flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
}

.post-history img {
    margin: 0 15px 15px 0;
}



footer{
    height: 5vh;
    text-align: center;
    font-weight: 700;
}

